.sign-up
  %header
    %h2 Registration
    = link_to 'Main', :root, :class => 'logo'
  %section
    .intro
      %h3 More Info
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
      = devise_error_messages!
      .form-body
        .row
          = f.text_field :first_name, :value => 'First name', :class => 'required automessage'
          = f.text_field :title, :value => 'Title', :class => 'automessage'
        .row
          = f.text_field :last_name, :value => 'Last name', :class => 'required automessage'
          = f.text_field :email, :value => 'E-mail', :class => 'required automessage'
        .row
          = f.text_field :financial_institution, :value => 'Financial Institution', :class => 'required automessage'
          = f.text_field :phone, :value => 'Phone', :class => 'automessage'
        .row.textarea
          %textarea{:id => :user_comments, :class => 'automessage'}
            Comments
        
      %footer
        = f.submit "Register"
      
  .commented 
    = render :partial => "devise/shared/links"

:javascript
  var automessages = [];
  $(function(){
    $('.automessage').each(function(){
      automessages[$(this).attr('id')] = $(this).val();
    }).focus(function(){
      if ($(this).val() == automessages[$(this).attr('id')]) { $(this).val('') }
    }).blur(function(){
      if ($(this).val() == '') { $(this).val(automessages[$(this).attr('id')]) }
    });
  });
