.sign-up
  %header
    %h2 Registration
    = link_to 'Main', :root, :class => 'logo'
  %section
    .intro
      %h3 More Info
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
      = devise_error_messages!
      .form-body
        .row
          %input{ :type => 'text', :value => 'First name', :class => 'required', :onblur => "if (this.value == '') {this.value = 'First name'}", :onfocus => "if (this.value == 'First name') {this.value = '';}" }
          %input{ :type => 'text', :value => 'Title', :onblur => "if (this.value == '') {this.value = 'Title'}", :onfocus => "if (this.value == 'Title') {this.value = '';}" }
        .row
          %input{ :type => 'text', :value => 'Last name', :class => 'required', :onblur => "if (this.value == '') {this.value = 'Last name'}", :onfocus => "if (this.value == 'Last name') {this.value = '';}" }
          %input{ :type => 'text', :value => 'E-mail', :class => 'required', :onblur => "if (this.value == '') {this.value = 'E-mail'}", :onfocus => "if (this.value == 'E-mail') {this.value = '';}" }
        .row
          %input{ :type => 'text', :value => 'Financial Institution', :class => 'required', :onblur => "if (this.value == '') {this.value = 'Financial Institution'}", :onfocus => "if (this.value == 'Financial Institution') {this.value = '';}" }
          %input{ :type => 'text', :value => 'Phone', :onblur => "if (this.value == '') {this.value = 'Phone'}", :onfocus => "if (this.value == 'Phone') {this.value = '';}" }
        .row.textarea
          %textarea{ :onblur => "if (this.value == '') {this.value = 'Comments'}", :onfocus => "if (this.value == 'Comments') {this.value = '';}" }
            Comments
        
      .commented 
        = f.email_field :email 
        = f.password_field :password 
        = f.password_field :password_confirmation
        
      %footer
        = f.submit "Register"
      
  .commented 
    = render :partial => "devise/shared/links"
